body {
    background-image: url("./assets/images/ballet-background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-start-page {
    height: 220px;
    width: 350px;
    transition: 0.75s ease-out;
}

.main-container-levels-page {
    height: 490px;
    width: 800px;
    transition: 1s ease-in;
}

.main-container-how-to-play-page {
    height: 400px;
    width: 600px;
    transition: 1s ease-in;
}

.main-container-score-history-page {
    height: 400px;
    width: 340px;
    transition: 0.75s ease-out;
}

#main-container {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.h1 {
    font-family: 'Square Peg', cursive;
    font-size: 75px;
    margin: 5px auto;
    text-align: center;
}

#start {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    background-color: #e4c8ce;
    border: 3px solid #aa8a8a;
    border-radius: 20px;
    display: block;
    margin: auto;
}

#start:hover {
    cursor: pointer;
}

#how-to-play {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    background-color: #e4c8ce;
    border: 3px solid #aa8a8a;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
}

#how-to-play:hover {
    cursor: pointer;
}

#instructions {
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    background-color: #cfa3a3;
    border: 3px solid #a28585;
    border-radius: 20px;
    width: 17em;
    margin: 40px auto;
    padding: auto;
    text-align: center;
}

#return-button {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    background-color: #e4c8ce;
    border: 3px solid #aa8a8a;
    border-radius: 20px;
    display: block;
    margin: 5px auto;
}

#return-button:hover {
    cursor: pointer;
}

#new-level-button {
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
    background-color: #cfa3a3;
    border: 3px solid #a28585;
    border-radius: 20px;
    width: 9em;
    margin: 15px 20px;
    padding: auto;
    text-align: center;
}

#new-level-button:hover {
    background-color: #e4c8ce;
    cursor: pointer;
}

#question {
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
    background-color: #cfa3a3;
    border: 3px solid #a28585;
    border-radius: 20px;
    width: 19em;
    margin: auto;
    padding: auto 0;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#choices-container {
    font-family: 'Patrick Hand', cursive;
    font-size: 35px;
    margin: 10px auto;
    text-align: center;
}

.choices {
    font-family: 'Patrick Hand', cursive;
    font-size: 35px;
    background-color: #e4c8ce;
    border: 3px solid #aa8a8a;
    border-radius: 20px;
    height: 105px;
    width: 10.5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 2px 3px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.choices:hover {
    background-color: #cfa3a3;
    cursor: pointer;
}

#score-container {
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
    background-color: #b78282;
    border: 3px solid #a07777;
    border-radius: 15px;
    width: 7em;
    margin: 15px auto;
    padding: auto;
    text-align: center;
}

#display-message {
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    background-color: #cfa3a3;
    border: 3px solid #a28585;
    border-radius: 15px;
    margin: 10px 15px;
    padding: auto 0;
    text-align: center;
}

#results {
    font-family: 'Patrick Hand', cursive;
    font-size: 29px;
    background-color: #e4c8ce;
    border: 3px solid #aa8a8a;
    border-radius: 10px;
    height: 235px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 10px 15px;
    padding-left: 5px;
    overflow-y: auto;
}

#score-history-container {
    font-family: 'Patrick Hand', cursive;
    font-size: 29px;
    background-color: #e4c8ce;
    border: 3px solid #aa8a8a;
    border-radius: 10px;
    height: 160px;
    display: block;
    justify-content: center;
    margin: 10px 15px;
    padding-left: 10px;
    overflow-y: auto;
}

#results::-webkit-scrollbar { 
    width: 8px;
}

#results::-webkit-scrollbar-track {
    background-color: transparent;
}

#results::-webkit-scrollbar-thumb {
    background-color: #aa8a8a;
    border-radius: 10px;
}

#score-history-container::-webkit-scrollbar { 
    width: 8px;
}

#score-history-container::-webkit-scrollbar-track {
    background-color: transparent;
}

#score-history-container::-webkit-scrollbar-thumb {
    background-color: #aa8a8a;
    border-radius: 10px;
}

#reset-button {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    background-color: #cfa3a3;
    border: 3px solid #a28585;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 3px auto;
}

#reset-button:hover {
    cursor: pointer;
}

#score-history {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    background-color: #cfa3a3;
    border: 3px solid #a28585;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 3px auto;
}

#score-history:hover {
    cursor: pointer;
}

#clear-score-history-button {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    background-color: #cfa3a3;
    border: 3px solid #a28585;
    border-radius: 20px;
    display: flex;
    justify-content:space-between;
    margin: 8px auto;
}

#clear-score-history-button:hover {
    cursor: pointer;
}

.each-answer {
    float: left;
    width: 97%;
    height: 50px;
    margin: 10px;
}

#check-mark {
    float: right;
    width: 45px;
}

#cross-mark {
    float: right;
}